{% extends 'profile_list.html' %}
{% block content %}

	{% if form.errors %}
		<span style="color:red">
			{% for field in form %}
				{% for error in field.errors %}
					{{field.label}} : {{error}}<br>
				{% endfor %}
			{% endfor %}
			
			{% for error in form.non_field_errors %}
				{{error}}<br>
			{% endfor %}
		</span>
	{% endif %}

	<form action="." method="POST">
	<input type="hidden" name="next" value="/">
	<table border="0" cellspacing="1" cellpadding="0">				
		<tr>
			<td>{{form.username.label}}</td>
			<td>{{form.username}}</td>
		</tr>
		<tr>
			<td>{{form.password.label}}</td>
			<td>{{form.password}}</td>
		</tr>
		<tr>
			<td align="right" colspan="2"><input type="submit" value="login"></td>
		</tr>
	</table>
	</form>
{% endblock %}