<html>
	<head>
		<title>mytask</title>
		<style>
			tr { background:#FFF;}
			td, span { padding: 5px; font-family: tahoma; font-size: 12px;}
			table { background: #CCC }
		</style>
	</head>
	<body>
		<br><center>		
		{% if user.is_authenticated %}
			<span>
				<a href="/">profiles</a> |
				<a href="/querylog/">querylog</a> |
				<a href="/logout/">logout</a>
			</span>
			<br><br>
		{% endif %}		
		
		{% block content %}
			{% for profile in profile_list %}
			<table border="0" cellspacing="1" cellpadding="0">				
				<tr>
					<td><b>Name</b></td>
					<td>{{profile}}</td>
					<td rowspan="4">
						<a href="{{profile.get_absolute_url}}">edit</a>
					</td>
				</tr>
				<tr>
					<td><b>Address</b></td>
					<td>{{profile.address}}</td>
				</tr>
				<tr>
					<td><b>Description</b></td>
					<td>{{profile.description}}</td>
				</tr>
				<tr>
					<td><b>Birthday</b></td>
					<td>{{profile.birthday}}</td>
				</tr>
			</table>
			<br>
			{% endfor %}									
		{% endblock %}				
		</center>
	</body>
</html>